mat-toolbar {
  margin-bottom: 30px;
  //color: #000000;
  //background-color: #FFFFFF;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  .brand-logo {
    float: left;
    display: block;
    min-width: 156px;
    max-width: 208px;
    text-align: center;
    position: relative;
  }
}
